/* From http://mildrenben.github.io/surface */
.collapsible input {
    display: none;
}
.collapsible a, .collapsible label {
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.collapsible-links {
	height:100%;
	transform:scaleY(0);
	transform-origin:0 0;
	transition:transform .3s cubic-bezier(.64,.09,.08,1);
}
.collapsible-links a {
	padding:0 24px 0 24px;
	height: 0;
	transition:height .3s cubic-bezier(.64,.09,.08,1);
    align-items: center;
    display: flex;
}
.collapsible input:checked~.collapsible-links {
	height:auto;
	transform:scaleY(1);
}
.collapsible input:checked~.collapsible-links a {
	height:40px
}
[id*=collapsible-]:checked+label:before {
	margin-top:6px;
	transform:rotate(-45deg) translateX(1px)
}
[id*=collapsible-]:checked+label:after {
	margin-top:5px;
	transform:rotate(45deg) translate(4px,-3px)
}
label[for*=collapsible-] {
	width:100%;
	cursor:pointer;
	display:flex;
	padding:15px 16px;
}
label[for*=collapsible-]:after,label[for*=collapsible-]:before {
	content:'';
	position:absolute;
	right:20px;
	width:2px;
	height:8px;
	background:#9e9e9e;
	transition:all .3s ease
}
label[for*=collapsible-]:before {
	margin-top:2px;
	transform:rotate(50deg)
}
label[for*=collapsible-]:after {
	margin-top:6px;
	transform:rotate(-50deg)
}
[id*=collapsible-]:checked~[class*=collapsible-][class$=area] {
	transform:scaleY(1);
	height:auto;
	padding: 16px 0;
}
[class*=collapsible-][class$=area] {
	transform:scaleY(0);
	transform-origin:0 0;
	height:0;
    overflow-y: hidden;
	will-change:height,transform,padding;
	transition:all .3s ease;
    padding: 0;
}

body {
    margin: 0;
}

.dark {
    background: #303030;
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: white;
}

.dark a, .tab a, .drawer label {
    color: #CFCFCF;
}

.dark a:hover, .tab a:hover {
    color: white;
    text-decoration: underline;
}

.shadow, .primary-button:hover {
    box-shadow: 0 0 5px 0 rgba(0,0,0,.16),0 0 10px 0 rgba(0,0,0,.12);
}

.drawer {
    position: fixed;
    height: 100%;
    width: 360px;
    margin-top: 0;
    margin-bottom: 45px;
    left: 0;
    top: 0;
}

.selectable {
    display: block;
    padding: 8px;
    line-height: 28px;
}

.selectable .collapsible {
    padding-left: 32px;
    line-height: initial;
}

.selectable input {
    float:left;
    margin: 8px 8px 0 8px;
}

.selectable label[for*=collapsible-] {
	padding: 4px 0;
}

.command {
    word-wrap: break-word;
    border: 1px solid #202020;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    display: block;
}

.command > *:nth-child(even) {
    background-color: #282828;
}

.command-row {
    padding: 2px 8px 2px 8px;
    white-space: pre-wrap;
}

.command-row:hover, .drawer label:hover {
    background-color: #404040;
}

.command a:hover {
    text-decoration: none;
}

.content {
    margin: 16px;
}

.content {
    padding-bottom: 45px;
}

.header {
    width: 100%;
    background-color: #2196f3;
    min-height: 64px;
    box-sizing: border-box;
}

.primary-button {
    color: white;
    background-color: #2196F3;
    text-transform: uppercase;
    border: none;
    margin: 16px 0;
    height: 36px;
    border-radius: 2px;
}

.primary-button:hover {
    background-color: #39a1f4;
}

h1 {
    padding: 0;
    border: 0;
    font-size: 22px;
    line-height: 64px;
    margin: 0 0 0 16px;
}

h2 {
    font-size: 18px;
}

.indented {
    padding-left: 360px;
}

.nav {
    height: 45px;
    width: 100vw;
    left: 0;
    bottom: 0;
    background-color: #404040;
    position: fixed;
    padding-left: 80px;
    padding-right: 30px;
    box-sizing: border-box;
    z-index: 2000;
}

.logo {
    position: fixed;
    left: 10px;
    right: 0;
    bottom: -3px;
}

.tab-bar {
    display: table;
    width: 100%;
    table-layout: fixed;
    padding-left: 0;
    margin: 0;
}

.tab {
    padding-top: 7px;
    line-height: 31px;
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}

.tab a, .drawer a {
    font-size: 14px;
    text-decoration: none;
}

.tab-active {
    border-bottom: 2px solid #90CAF9; /* Blue[200] */
}

.tab-active a {
    color: #BBDEFB; /* Blue[100] */
}
