# Personal customisations.
#
# Copy this file to CONFIG and edit the settings below to suit your
# environment.

# Location of rootfs builder.  This needs to be at least version 1.13 and can be
# downloaded from https://github.com/araneidae/rootfs
ROOTFS_TOP = /dls_sw/prod/targetOS/rootfs/1.14

# Toolchain used to build the target
TOOLCHAIN_ROOT = /dls_sw/targetOS/x-tools/gcc-10.2.1-glibc-2.31/$(COMPILER_PREFIX)

# Additionally, if the toolchain uses a vendor specific compiler prefix, we
# need:
#
# COMPILER_PREFIX = arm-xilinx-linux-gnueabi

# Where to find source files
TAR_FILES = /dls_sw/prod/targetOS/tar-files

# Target location for build
PANDA_ROOT = /scratch/tmp/PandA-rootfs-$(PLATFORM)

# Whether the platform is zynq or zyqnmp
PLATFORM = zynq

# vim: set filetype=make:
