{% module Template("header.html", title="Documentation") %}
{% module Template("nav.html", active="docs", etc_loader=etc_loader) %}

<div class="content">
  <p>
    This page lists documentation for the components of this PandA
  </p>

  <h2>Rootfs</h2>

  <p>
    The rootfs is responsible for booting Linux that powers this device,
    including the networking setup.
  </p>
  <a target="_blank" rel="noopener noreferrer"
     href="/network-quickstart.pdf">
    Networking Quickstart Documentation
  </a>

  {% import os %}
  {% if os.path.isdir(etc_loader.root) %}
    {% for f in sorted(os.listdir(etc_loader.root)) %}
      {% if f.endswith(".docs.html") %}
        {% raw etc_loader.load(f).generate() %}
      {% end %}
    {% end %}
  {% end %}
</div>

{% module Template("footer.html") %}