ul.dirlist, ul.zpglist {
    list-style-type: none;
}

div.zpglist {
    display: block;
    margin-left: 2em;
}

.zpglist input {
    float: left;
    margin-left: -2em;
}

pre.zpglist {
    border: unset;
    padding: 0pt;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: thin solid;
    padding: 0.5em;
}

div {
    min-height: 1em;
}

.ssh-keys {
    white-space: pre-wrap;
    word-wrap: break-word;
    border: thin solid;
    padding: 0em;
}

.ssh-keys > * {
    padding: 0.5em;
}

pre > *:nth-child(even) {
    background-color: #E3EEC8;
}
